:root {
  --mainColor: #252734;
  --secondaryColor: #333646;
  --acsentsColor: #ff9100;
}

body {
  background-color: var(--mainColor);
}

hr {
  width: 80%;
  height: 5px;
  color: #ff9100;
  opacity: 100%;
  margin: 0 auto;
}

.navbar a:hover {
  color: #ff9100 !important;
}

#hero .icon svg {
  cursor: pointer;
}

#hero .icon a {
  text-decoration: none;
  color: white;
}
.navdark {
  background-color: var(--secondaryColor);
  transition: 0.8s;
}

#hero {
  color: white;
  padding-top: 50px;
}

#hero h2 {
  font-weight: bold;
  font-size: 2rem;
}

#hero h1 {
  font-weight: bold;
  font-size: 2.4rem;
}

#hero p {
  color: var(--acsentsColor);
}

#hero .icon svg {
  margin-right: 15px;
  margin-bottom: 15px;
}

#hero img {
  border-radius: 40px;
}

#about {
  width: 100%;
  color: white;
  background-color: var(--secondaryColor);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: px;
  min-height: 300px;
}

#about h1 {
  font-weight: 700;
}

#about .judul {
  color: #ff9100;
}

#sertif {
  background-color: var(--mainColor);
  color: white;
  padding: 20px;
}

#sertif p {
  font-size: 2rem;
  font-weight: 700;
}

#project {
  margin-bottom: px;
  background-color: #333646;
  padding: 20px;
}

#project p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

#project img {
  border-radius: 40px;
  margin-bottom: 10px;
}

#project h6 {
  color: white;
  margin-top: 20px;
}

#skill {
  background-color: var(--mainColor);
  padding: 20px;
  padding-bottom: 30px;
}

#skill p {
  font-size: 2rem;
  font-weight: bold;
}

#skill img {
  border-radius: 40px;
  margin-bottom: 10px;
}

#contact {
  color: white;
  padding: 20px;
  background-color: var(--secondaryColor);
}

#contact p {
  font-size: 2rem;
  font-weight: bold;
}

#footer {
  color: white;
  background-color: var(--mainColor);
}

#footer p {
  font-weight: bold;
}
